## Calculate some values using other variables

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("FS_2y_before_Bankruptcy_test_x.csv")

In [3]:
data.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
0,0.056456,0.52493,0.21218,1.8852,48.855,0.15588,0.073958,0.76874,1.1259,0.40353,...,14976.0,0.11184,0.139910,0.88816,0.706860,7.349,2.4937,105.88,3.4474,1.5075
1,-0.0086101,0.56102,0.24435,1.8509,4.2847,0,-0.0086101,0.78248,2.4700,0.43898,...,2416.6,-0.027224,-0.019614,1.0034,0.347230,12.338,14.992,42.434,8.6016,5.2723
2,0.092538,0.55157,0.34368,3.075,-5.6058,0.15362,0.1191,0.78579,1.1013,0.43342,...,11663.0,0.091953,0.213510,0.90805,0.890450,3.5064,10.789,47.885,7.6225,2.5729
3,0.065102,0.79724,-0.051197,0.89587,-64.464,0.065102,0.029819,0.11225999999999998,1.0040,0.089501,...,-4370.2,0.0039389,0.727380,0.99606,3.414100,7.3744,5.8256,127.85,2.8549,2.5086
4,0.23341,0.5034,0.44502,1.9942,39.989,-0.010996,0.29821,0.98648,2.6600,0.4966,...,1160.5,0.1158,0.470020,0.88972,0.048201,15.695,21.808,61.421,5.9426,24.773

In [4]:
data.shape

(2937, 64)

In [5]:
np.sum(np.sum(data.astype("str")=="?")>0)

60

In [6]:
np.sum(data.astype("str")=="?").sort_values(ascending = False)

Attr37    1342
Attr45     195
Attr60     194
Attr27     179
Attr64      69
          ...
Attr1        1
Attr57       0
Attr9        0
Attr55       0
Attr59       0
Length: 64, dtype: int64

밑의 4개 빼고는 다 ?가 있다

In [7]:
data.drop("Attr37", axis = 1, inplace = True)

In [8]:
data.shape

(2937, 63)

In [9]:
np.sum(np.sum(data.astype("str")=="?")>0)

59

In [10]:
np.sum(data.astype("str")=="?").sort_values(ascending = False)

Attr45    195
Attr60    194
Attr27    179
Attr64     69
Attr54     69
         ...
Attr51      1
Attr59      0
Attr9       0
Attr57      0
Attr55      0
Length: 63, dtype: int64

In [11]:
np.sum(np.sum(data.astype("str")=="?"))

1302

In [12]:
np.sum(data.astype("str")=="?")["Attr29"]

1

In [13]:
np.sum(data.astype("str")=="?").sort_values().head(30)

Attr55    0
Attr57    0
Attr9     0
Attr59    0
Attr51    1
Attr48    1
Attr38    1
Attr36    1
Attr35    1
Attr29    1
Attr25    1
Attr22    1
Attr18    1
Attr1     1
Attr2     1
Attr3     1
Attr6     1
Attr7     1
Attr14    1
Attr10    1
Attr11    1
Attr15    3
Attr50    4
Attr34    4
Attr8     4
Attr26    4
Attr16    4
Attr17    4
Attr58    6
Attr5     6
dtype: int64

In [14]:
from itertools import chain

In [15]:
def null_idx (df, attrs_list) :
    null_idx = []
    for attr in attrs_list:
        null_idx.append(list(df.index[df[attr].astype("str")=="?"])) #모든 attr의 ? index값 추가
        
    null_idx = list(set(list(chain(*null_idx)))) #list를 flatten하고 중복된 index 제거
    return null_idx

In [16]:
main_lst = ["Attr29", "Attr10", "Attr51", "Attr36", "Attr9", "Attr18", "Attr6",
      "Attr7", "Attr48", "Attr1", "Attr3", "Attr35"]
data[main_lst].head()

,Attr29,Attr10,Attr51,Attr36,Attr9,Attr18,Attr6,Attr7,Attr48,Attr1,Attr3,Attr35
0,4.8487,0.40353,0.23969,0.83286,1.1259,0.073958,0.15588,0.073958,0.042228,0.056456,0.21218,0.093813
1,3.9952,0.43898,0.28716,2.47,2.4700,-0.0086101,0,-0.0086101,-0.15014,-0.0086101,0.24435,-0.067243
2,4.5307,0.43342,0.16563,1.3072,1.1013,0.1191,0.15362,0.1191,0.028096,0.092538,0.34368,0.11676
3,4.9313,0.089501,0.49167,1.5344,1.0040,0.029819,0.065102,0.029819,-0.0051714,0.065102,-0.051197,0.039231
4,3.4163,0.4966,0.44761,2.66,2.6600,0.29821,-0.010996,0.29821,0.27072,0.23341,0.44502,0.30802

In [17]:
null_idx(data, main_lst)

[536]

In [18]:
np.sum(data.iloc[536] == "?")

31

In [19]:
new = data.copy()

In [20]:
new.shape

(2937, 63)

In [21]:
new.drop(536, inplace = True)

일단 536번째 변수는 빼고 계산 시작

In [22]:
new.shape

(2936, 63)

In [23]:
np.sum(new[main_lst].astype("str") == "?")

Attr29    0
Attr10    0
Attr51    0
Attr36    0
Attr9     0
Attr18    0
Attr6     0
Attr7     0
Attr48    0
Attr1     0
Attr3     0
Attr35    0
dtype: int64

계산에 사용될 변수들 전부 다 ? 개수 0인것 확인

In [24]:
new[main_lst] = new[main_lst].astype("float")

In [25]:
total_assets = pd.Series(np.exp(new["Attr29"]), index  = new["Attr29"].index)
total_equity = new["Attr10"] * total_assets
total_liabilities = total_assets - total_equity
short_term_liabilities = new["Attr51"] * total_assets
long_term_liabilities = total_liabilities - short_term_liabilities
total_sales = pd.Series(np.array(total_assets) * np.array(new["Attr36"]))
sales = new["Attr9"] * total_assets
gross_profit = new["Attr18"] * total_assets
retained_earnings = new["Attr6"] * total_assets
ebit = new["Attr7"] * total_assets
ebitda = new["Attr48"] * total_assets
net_profit = new["Attr1"] * total_assets
working_capital = new["Attr3"] * total_assets
profit_on_sales = new["Attr35"] * total_assets

분모가 0인걸 방지하기 위해 제일 작은 값을 넣어주자

In [26]:
abs_stl = np.abs(short_term_liabilities).sort_values()
min_stl = abs_stl[abs_stl>0].iloc[0]
print(min_stl)

0.0011614652922856752

In [27]:
abs_sales = np.abs(sales).sort_values()
min_sales = abs_sales[abs_sales>0].iloc[0]
print(min_sales)

0.009098839470487273

In [28]:
abs_tl = np.abs(total_liabilities).sort_values()
min_tl = abs_tl[abs_tl>0].iloc[0]
print(min_tl)

0.0012359958415331107

In [29]:
abs_equity = np.abs(total_equity).sort_values()
min_equity = abs_equity[abs_equity>0].iloc[0]
print(min_equity)

0.016682142526397607

In [30]:
short_term_liabilities.replace(0, min_stl, inplace = True)
sales.replace(0, min_sales, inplace = True)
total_liabilities.replace(0, min_tl, inplace = True)
total_equity.replace(0, min_equity, inplace = True)

In [31]:
print(np.sum(short_term_liabilities == 0))
print(np.sum(sales == 0))
print(np.sum(total_liabilities == 0))
print(np.sum(total_equity == 0))

0
0
0
0

In [32]:
calculated_lst = ["Attr12", "Attr19", "Attr23", "Attr39", "Attr49", "Attr63"]

In [33]:
new["Attr12"] = gross_profit / short_term_liabilities
new["Attr19"] = gross_profit / sales
new["Attr23"] = net_profit / sales
new["Attr39"] = profit_on_sales / sales
new["Attr49"] = ebitda / sales
new["Attr63"] = sales / short_term_liabilities

In [34]:
np.sum(data[calculated_lst].astype("str") == "?")

Attr12    15
Attr19     7
Attr23     7
Attr39     7
Attr49     7
Attr63    15
dtype: int64

In [35]:
np.sum(new[calculated_lst].astype("str") == "?")

Attr12    0
Attr19    0
Attr23    0
Attr39    0
Attr49    0
Attr63    0
dtype: int64

In [36]:
np.sum(np.sum(new.astype("str") == "?")>0)

36

In [37]:
new.shape

(2936, 63)

In [38]:
data.iloc[536]

Attr1           ?
Attr2           ?
Attr3           ?
Attr4           ?
Attr5      5172.1
           ...
Attr60    0.45945
Attr61    0.13212
Attr62          0
Attr63          ?
Attr64     9.7091
Name: 536, Length: 63, dtype: object

In [39]:
new = new.append(data.iloc[536])

In [40]:
new.shape

(2937, 63)

In [41]:
new = new.reindex(index = list(range(new.shape[0])))

In [42]:
new.iloc[536]

Attr1           ?
Attr2           ?
Attr3           ?
Attr4           ?
Attr5      5172.1
           ...
Attr60    0.45945
Attr61    0.13212
Attr62          0
Attr63          ?
Attr64     9.7091
Name: 536, Length: 63, dtype: object

처음보다 6개가 줄었다! 이제 corr 높은 변수 두 집합에서 각각 하나씩만 선택
- 7, 11, 14 -> 7
- 16, 26 -> 26

In [43]:
new.drop(["Attr11", "Attr14", "Attr16"], axis = 1, inplace = True)

In [44]:
new.shape

(2937, 60)

In [45]:
new.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
0,0.056456,0.52493,0.21218,1.8852,48.855,0.15588,0.073958,0.76874,1.1259,0.40353,...,14976.0,0.11184,0.139910,0.88816,0.706860,7.349,2.4937,105.88,4.69732,1.5075
1,-0.0086101,0.56102,0.24435,1.8509,4.2847,0,-0.0086101,0.78248,2.4700,0.43898,...,2416.6,-0.027224,-0.019614,1.0034,0.347230,12.338,14.992,42.434,8.60148,5.2723
2,0.092538,0.55157,0.34368,3.075,-5.6058,0.15362,0.1191,0.78579,1.1013,0.43342,...,11663.0,0.091953,0.213510,0.90805,0.890450,3.5064,10.789,47.885,6.64916,2.5729
3,0.065102,0.79724,-0.051197,0.89587,-64.464,0.065102,0.029819,0.11225999999999998,1.0040,0.089501,...,-4370.2,0.0039389,0.727380,0.99606,3.414100,7.3744,5.8256,127.85,2.04202,2.5086
4,0.23341,0.5034,0.44502,1.9942,39.989,-0.010996,0.29821,0.98648,2.6600,0.4966,...,1160.5,0.1158,0.470020,0.88972,0.048201,15.695,21.808,61.421,5.94267,24.773

In [46]:
np.sum(np.sum(new.astype("str")=="?")>0)

52

7개 줄었당

## 새로운 변수 만들기

## 1) Attr65 = Attr1 * Attr17

In [47]:
np.sum(new[["Attr1", "Attr17"]].astype("str") == "?")

Attr1     1
Attr17    4
dtype: int64

In [48]:
x65_null_idx = null_idx(new, ["Attr17", "Attr1"])
x65_null_idx

[536, 2338, 427, 1294]

- 1) 일단 새로운 변수 모두 0으로 해서 새 column 만들기
- 2) null_idx는 ?으로 할당
- 3) 계산할 수 있는 애들은 활용해서 대입

In [49]:
new["Attr65"] = np.zeros(new.shape[0])

In [50]:
new["Attr65"].iloc[x65_null_idx] = "?"

/Users/jominju/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [51]:
new["Attr65"].iloc[~new.index.isin(x65_null_idx)] = ((new["Attr1"][~new.index.isin(x65_null_idx)].astype("float").mul(
    new["Attr17"][~new.index.isin(x65_null_idx)].astype("float"))))

In [52]:
new["Attr65"].head(10)

0     0.107549
1   -0.0153475
2     0.167771
3    0.0816574
4     0.463669
5     0.554104
6    -0.547559
7    0.0604843
8      2.53792
9    0.0528346
Name: Attr65, dtype: object

In [53]:
np.sum(new[["Attr65", "Attr1", "Attr17"]].astype("str") == "?")

Attr65    4
Attr1     1
Attr17    4
dtype: int64

In [54]:
new[["Attr65", "Attr1", "Attr17"]].iloc[x65_null_idx]

     Attr65     Attr1 Attr17
536       ?         ?      ?
2338      ?         0      ?
427       ?  -0.14518      ?
1294      ? -0.059378      ?

In [55]:
new[["Attr1","Attr17","Attr65"]].head(10)

       Attr1  Attr17     Attr65
0   0.056456   1.905   0.107549
1 -0.0086101  1.7825 -0.0153475
2   0.092538   1.813   0.167771
3   0.065102  1.2543  0.0816574
4    0.23341  1.9865   0.463669
5    0.11991   4.621   0.554104
6   -0.25456   2.151  -0.547559
7   0.026658  2.2689  0.0604843
8    0.32106  7.9048    2.53792
9   0.032175  1.6421  0.0528346

### Attr66 = (Attr13 - Attr19) * Attr9

In [56]:
np.sum(new[["Attr13", "Attr19", "Attr9"]].astype("str") == "?")

Attr13    7
Attr19    0
Attr9     0
dtype: int64

In [57]:
x66_null_idx = null_idx(new, ["Attr13", "Attr19", "Attr9"])
x66_null_idx

[1153, 1857, 2890, 1331, 1847, 30, 927]

In [58]:
new["Attr66"] = np.zeros(new.shape[0])

In [59]:
new["Attr66"].iloc[x66_null_idx] = "?"

/Users/jominju/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [60]:
new["Attr66"].iloc[~new.index.isin(x66_null_idx)] = (
    ((new["Attr13"][~new.index.isin(x66_null_idx)].astype("float").sub(
    new["Attr19"][~new.index.isin(x66_null_idx)].astype("float")))).mul
 (new["Attr9"][~new.index.isin(x66_null_idx)].astype("float")))

In [61]:
new[["Attr13","Attr19","Attr9","Attr66"]].iloc[x66_null_idx]

     Attr13   Attr19  Attr9 Attr66
1153      ? -18.0749    0.0      ?
1857      ?  10.2832    0.0      ?
2890      ? -8716.89    0.0      ?
1331      ?  1627.28    0.0      ?
1847      ?  169.779    0.0      ?
30        ?  1664.49    0.0      ?
927       ? -1712.23    0.0      ?

In [62]:
new[["Attr13","Attr19","Attr9","Attr66"]].head(10)

     Attr13      Attr19   Attr9      Attr66
0   0.15194   0.0656879  1.1259   0.0971112
1  0.066923 -0.00348587  2.4700     0.17391
2   0.16456    0.108145  1.1013   0.0621299
3  0.052877   0.0297002  1.0040   0.0232695
4   0.12034    0.112109  2.6600   0.0218944
5   0.10245    0.110925  1.0810 -0.00916155
6  -0.36044   -0.298956  0.8526  -0.0524211
7  0.053661   0.0287181  1.3355   0.0333113
8   0.28105    0.244685  1.6464   0.0598707
9  0.049692   0.0350626  1.0222   0.0149542

### Attr67 = Attr1 / Attr10

In [63]:
np.sum(new[["Attr1", "Attr10"]].astype("str") == "?")

Attr1     1
Attr10    1
dtype: int64

In [64]:
x67_null_idx = null_idx(new, ["Attr1", "Attr10"])
x67_null_idx

[536]

In [65]:
new["Attr67"] = np.zeros(new.shape[0])

In [66]:
new["Attr67"].iloc[x67_null_idx] = "?"

/Users/jominju/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [67]:
new["Attr67"].iloc[~new.index.isin(x67_null_idx)] = (new["Attr1"].iloc[~new.index.isin(x67_null_idx)].astype("float")).div(
    new["Attr10"].iloc[~new.index.isin(x67_null_idx)].astype("float"))

In [68]:
new[["Attr1","Attr10","Attr67"]].iloc[x67_null_idx]

    Attr1 Attr10 Attr67
536     ?      ?      ?

In [69]:
new[["Attr1","Attr10","Attr67"]].head(10)

       Attr1    Attr10     Attr67
0   0.056456   0.40353   0.139905
1 -0.0086101   0.43898 -0.0196139
2   0.092538   0.43342   0.213507
3   0.065102  0.089501   0.727389
4    0.23341    0.4966   0.470016
5    0.11991   0.78171   0.153394
6   -0.25456   0.51371  -0.495532
7   0.026658   0.55927  0.0476657
8    0.32106   0.87349    0.36756
9   0.032175   0.35056  0.0917817

### Attr68 = Attr9 / Attr3

In [70]:
np.sum(new[["Attr9", "Attr3"]].astype("str") == "?")

Attr9    0
Attr3    1
dtype: int64

In [71]:
x68_null_idx = null_idx(new, ["Attr9", "Attr3"])
x68_null_idx

[536]

In [72]:
new["Attr68"] = np.zeros(new.shape[0])

In [73]:
new["Attr68"].iloc[x68_null_idx] = "?"

/Users/jominju/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [74]:
new["Attr68"].iloc[~new.index.isin(x68_null_idx)] = (new["Attr9"].iloc[~new.index.isin(x68_null_idx)].astype("float")).div(
    new["Attr3"].iloc[~new.index.isin(x68_null_idx)].astype("float"))

In [75]:
new[["Attr9","Attr3","Attr68"]].iloc[x67_null_idx]

      Attr9 Attr3 Attr68
536  1.0248     ?      ?

In [76]:
new[["Attr9","Attr3","Attr68"]].head(10)

    Attr9     Attr3   Attr68
0  1.1259   0.21218  5.30634
1  2.4700   0.24435  10.1085
2  1.1013   0.34368  3.20443
3  1.0040 -0.051197 -19.6105
4  2.6600   0.44502  5.97726
5  1.0810   0.40868   2.6451
6  0.8526   -0.1682 -5.06897
7  1.3355 -0.032002 -41.7318
8  1.6464   0.61785  2.66472
9  1.0222 -0.073355  -13.935

### Attr69 = $\frac{(Attr4 * Attr34 * Attr45 * Attr47 * Attr2)}{(Attr33 * Attr32 * Attr1  * 365)}$

In [77]:
np.sum(new[["Attr4","Attr34","Attr45","Attr47","Attr2","Attr33","Attr32","Attr1"]].astype("str") == "?")

Attr4      15
Attr34      4
Attr45    195
Attr47     16
Attr2       1
Attr33     15
Attr32     24
Attr1       1
dtype: int64

In [78]:
x69_null_idx = null_idx(new, ["Attr4","Attr34","Attr45","Attr47","Attr2","Attr33","Attr32","Attr1"])
x69_null_idx

[2048,
 2053,
 1542,
 1545,
 521,
 2575,
 2576,
 536,
 24,
 1048,
 1051,
 2074,
 541,
 2079,
 1057,
 553,
 42,
 2089,
 2602,
 1069,
 2603,
 1590,
 2110,
 68,
 72,
 584,
 1096,
 1611,
 2636,
 2125,
 2126,
 2640,
 2132,
 2645,
 598,
 1111,
 2137,
 603,
 1628,
 605,
 2651,
 2145,
 2146,
 1635,
 1640,
 1129,
 106,
 2157,
 2161,
 2166,
 1143,
 1142,
 1659,
 636,
 1148,
 1661,
 1153,
 1666,
 1157,
 647,
 2697,
 650,
 1163,
 1674,
 1677,
 654,
 1173,
 663,
 665,
 2202,
 155,
 159,
 2208,
 161,
 165,
 2214,
 682,
 2218,
 2220,
 2733,
 1714,
 696,
 1722,
 2746,
 189,
 192,
 1216,
 1728,
 2755,
 708,
 2761,
 715,
 2766,
 1746,
 2258,
 2771,
 2264,
 219,
 2780,
 223,
 2784,
 2788,
 1255,
 2282,
 2284,
 753,
 754,
 1265,
 1778,
 2291,
 761,
 765,
 2814,
 254,
 774,
 2311,
 1288,
 2312,
 1290,
 265,
 1805,
 1294,
 1295,
 1296,
 2324,
 2837,
 2327,
 2840,
 801,
 2338,
 1316,
 1318,
 806,
 2345,
 297,
 812,
 1324,
 814,
 2349,
 1330,
 2868,
 1846,
 1847,
 1848,
 1338,
 317,
 319,
 1857,
 1858,
 326,
 1862,
 2890,
 845,
 1359,
 2896,
 1363,
 1365,
 2902,
 2906,
 2908,
 1887,
 867,
 1891,
 2918,
 2920,
 883,
 888,
 1914,
 1403,
 1916,
 2428,
 384,
 902,
 1415,
 1416,
 2442,
 2449,
 402,
 1428,
 919,
 1431,
 927,
 1439,
 930,
 419,
 932,
 1442,
 2467,
 1447,
 934,
 937,
 1961,
 427,
 2473,
 1965,
 1461,
 2486,
 439,
 443,
 1468,
 1979,
 1981,
 1984,
 2498,
 1475,
 969,
 2507,
 976,
 980,
 473,
 985,
 483,
 2022,
 1002,
 496,
 2032,
 2040,
 507,
 2557]

In [79]:
len(x69_null_idx)

219

In [80]:
new["Attr69"] = np.zeros(new.shape[0])

In [81]:
new["Attr69"].iloc[x69_null_idx] = "?"

/Users/jominju/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [82]:
bunja = new["Attr4"][~new.index.isin(x69_null_idx)].astype("float").mul(
    new["Attr34"][~new.index.isin(x69_null_idx)].astype("float")).mul(
    new["Attr45"][~new.index.isin(x69_null_idx)].astype("float")).mul(
    new["Attr47"][~new.index.isin(x69_null_idx)].astype("float")).mul(
    new["Attr2"][~new.index.isin(x69_null_idx)].astype("float"))

In [83]:
bunja.head()

0      4.966187
1     -5.816963
2     10.578200
3      0.597339
4    169.894704
dtype: float64

In [84]:
bunmo = new["Attr33"][~new.index.isin(x69_null_idx)].astype("float").mul(
    new["Attr32"][~new.index.isin(x69_null_idx)].astype("float")).mul(
    new["Attr1"][~new.index.isin(x69_null_idx)].astype("float")) * 365

In [85]:
bunmo.head()

0     7521.292449
1    -1147.061500
2    12328.498482
3     8673.625797
4    31096.374610
dtype: float64

In [86]:
new["Attr69"].iloc[~new.index.isin(x69_null_idx)] = bunja.div(bunmo)

In [87]:
np.sum(new[["Attr69","Attr4","Attr34","Attr45","Attr47","Attr2","Attr33","Attr32","Attr1"]].astype("str") == "?")

Attr69    219
Attr4      15
Attr34      4
Attr45    195
Attr47     16
Attr2       1
Attr33     15
Attr32     24
Attr1       1
dtype: int64

In [88]:
new[["Attr69","Attr4","Attr34","Attr45","Attr47","Attr2","Attr33","Attr32","Attr1"]].iloc[x69_null_idx].head(10)

,Attr69,Attr4,Attr34,Attr45,Attr47,Attr2,Attr33,Attr32,Attr1
2048,?,7.6387,1.0838,?,0,0.11755,19.986,18.262,0.099285
2053,?,4.8423,11.221,?,0,0.16345,20.839,17.515,0.087289
1542,?,4.1832,9.3045,?,0,0.21485,9.3045,39.228,0.063899
1545,?,?,5.0376,?,0,0.54079,?,0,0.020059
521,?,34.321,13.989,?,0,0.00037235,18.407,?,0.0066942
2575,?,1.9362,10.624,?,0,0.43908,12.122,30.111,0.25054
2576,?,14.029,40.74,?,0,0.069029,40.74,8.9592,0.14917
536,?,?,?,0,814.09,?,?,0,?
24,?,1.7635,3.8747,?,0,0.030392,3.8747,94.2,0.10504
1048,?,1.256,1.5334,?,0,0.77678,1.5334,238.03,0.099734

In [89]:
new[["Attr69","Attr4","Attr34","Attr45","Attr47","Attr2","Attr33","Attr32","Attr1"]].head(10)

,Attr69,Attr4,Attr34,Attr45,Attr47,Attr2,Attr33,Attr32,Attr1
0,0.000660284,1.8852,0.17872,0.50213,55.921,0.52493,3.0618,119.21,0.056456
1,0.00507119,1.8509,4.5226,-0.04301,28.799,0.56102,8.8357,41.309,-0.0086101
2,0.000858028,3.075,0.21168,0.25701,114.64,0.55157,6.9216,52.734,0.092538
3,6.88684e-05,0.89587,0.049208999999999996,0.34203,49.691,0.79724,2.8437,128.36,0.065102
4,0.00546349,1.9942,4.6721,1.3772,26.302,0.5034,5.2545,69.465,0.23341
5,0.000651234,2.8885,0.56833,3.9985,7.3241,0.2164,6.906,52.853,0.11991
6,-0.000488018,0.57834,-0.39217,-6.0211,26.069,0.4649,1.484,245.96,-0.25456
7,0.00249422,0.91037,2.8814,0.18655,41.072,0.44073,3.5567,102.62,0.026658
8,0.0173459,6.3307,9.7789,4.5077,21.015,0.12651,10.673,34.197,0.32106
9,7.3566e-05,0.86332,0.084221,0.67665,10.525,0.60899,3.0727,118.79,0.032175

## Attr70

In [90]:
new["Attr70"] = np.zeros(new.shape[0])

In [91]:
new["Attr70"][new["Attr21"].astype("str") == "?"] = 1

/Users/jominju/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [92]:
np.sum(new["Attr70"])

46.0

In [93]:
new.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr61,Attr62,Attr63,Attr64,Attr65,Attr66,Attr67,Attr68,Attr69,Attr70
0,0.056456,0.52493,0.21218,1.8852,48.855,0.15588,0.073958,0.76874,1.1259,0.40353,...,2.4937,105.88,4.69732,1.5075,0.107549,0.0971112,0.139905,5.30634,0.000660284,0.0
1,-0.0086101,0.56102,0.24435,1.8509,4.2847,0,-0.0086101,0.78248,2.4700,0.43898,...,14.992,42.434,8.60148,5.2723,-0.0153475,0.17391,-0.0196139,10.1085,0.00507119,0.0
2,0.092538,0.55157,0.34368,3.075,-5.6058,0.15362,0.1191,0.78579,1.1013,0.43342,...,10.789,47.885,6.64916,2.5729,0.167771,0.0621299,0.213507,3.20443,0.000858028,0.0
3,0.065102,0.79724,-0.051197,0.89587,-64.464,0.065102,0.029819,0.11225999999999998,1.0040,0.089501,...,5.8256,127.85,2.04202,2.5086,0.0816574,0.0232695,0.727389,-19.6105,6.88684e-05,0.0
4,0.23341,0.5034,0.44502,1.9942,39.989,-0.010996,0.29821,0.98648,2.6600,0.4966,...,21.808,61.421,5.94267,24.773,0.463669,0.0218944,0.470016,5.97726,0.00546349,0.0

새로 생긴 변수들의 총 na 개수

In [94]:
np.sum(new.iloc[:,-6:].astype("str")=="?")

Attr65      4
Attr66      7
Attr67      1
Attr68      1
Attr69    219
Attr70      0
dtype: int64

In [95]:
new.to_csv("calculated_test_x.csv", index = False)