In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("FS_2y_before_Bankruptcy_train.csv")

In [3]:
data.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,-0.024558,0.30051,0.10733,1.8368,34.382,-0.026711,-0.020067,2.2519,1.06670,0.67673,...,0.062497,-0.036289,0.9375,0.25454,13.632,3.693,69.389,5.2602,0.8826,0
1,0.639180,0.00000,1.00000,?,29.678,-1.139300,0.760520,?,1.11850,1.00000,...,0.67983,0.63918,0.32014,0.0,?,37.886,0,?,?,0
2,-0.440760,0.47723,0.19260,1.4678,34.555,0.000000,-0.440760,1.0954,1.51860,0.52277,...,-0.29059,-0.84313,1.2871,0.12538,?,2.5649,98.95,3.6887,3.8376,0
3,0.119520,0.17679,0.63546,4.5944,117.65,0.251540,0.148750,4.5826,1.12630,0.81017,...,0.11211,0.14752,0.88789,0.0,8.9302,10.287,40.355,9.0448,8.5169,0
4,0.230400,0.27095,0.23762,2.5745,-26.928,0.617540,0.282690,2.6907,0.80411,0.72905,...,0.45957,0.31602,0.6232,0.16465,7.9274,6.6605,68.502,5.3283,1.315,0

일단 Attr 37은 제거

In [4]:
data.drop("Attr37", axis = 1, inplace = True)

In [5]:
data.shape

(6855, 64)

In [6]:
np.sum(np.sum(data.astype("str")=="?")>0)

44

In [7]:
que = data.astype("str")=="?"
que.sum().sum()

3032

na가 없는 변수를 이용해서 채우기

In [8]:
list(que.columns[que.sum()==0])

['Attr1',
 'Attr2',
 'Attr3',
 'Attr6',
 'Attr7',
 'Attr9',
 'Attr10',
 'Attr11',
 'Attr14',
 'Attr18',
 'Attr22',
 'Attr25',
 'Attr29',
 'Attr35',
 'Attr36',
 'Attr38',
 'Attr48',
 'Attr51',
 'Attr55',
 'class']

In [9]:
total_assets = pd.Series(np.exp(data["Attr29"]), index  = data["Attr29"].index)
total_assets.head()

0      96.014575
1       3.393290
2      19.546573
3     233.597605
4    1476.308509
Name: Attr29, dtype: float64

In [10]:
total_equity = data["Attr10"] * total_assets
total_equity.head()

0      64.975943
1       3.393290
2      10.218362
3     189.253772
4    1076.302718
dtype: float64

In [11]:
total_liabilities = total_assets - total_equity
total_liabilities.head()

0     31.038632
1      0.000000
2      9.328211
3     44.343833
4    400.005790
dtype: float64

In [12]:
short_term_liabilities = data["Attr51"] * total_assets
short_term_liabilities.head()

0     12.314829
1      0.000000
2      8.047129
3     41.297721
4    222.789717
dtype: float64

In [13]:
long_term_liabilities = total_liabilities - short_term_liabilities
long_term_liabilities.head()

0     18.723802
1      0.000000
2      1.281082
3      3.046113
4    177.216073
dtype: float64

In [14]:
total_sales = pd.Series(np.array(total_assets) * np.array(data["Attr36"]))
total_sales.head()

0      66.678282
1       3.795395
2      29.683426
3     378.895316
4    1187.114435
dtype: float64

In [15]:
sales = data["Attr9"] * total_assets
total_assets.head()

0      96.014575
1       3.393290
2      19.546573
3     233.597605
4    1476.308509
Name: Attr29, dtype: float64

In [16]:
gross_profit = data["Attr18"] * total_assets
gross_profit.head()

0     -1.926724
1      2.580665
2     -8.615348
3     34.747644
4    417.337652
dtype: float64

In [17]:
retained_earnings = data["Attr6"] * total_assets
retained_earnings.head()

0     -2.564645
1     -3.865975
2      0.000000
3     58.759142
4    911.679556
dtype: float64

In [18]:
ebit = data["Attr7"] * total_assets
ebit.head()

0     -1.926724
1      2.580665
2     -8.615348
3     34.747644
4    417.337652
dtype: float64

In [19]:
ebitda = data["Attr48"] * total_assets
ebitda.head()

0     -2.755810
1      2.580258
2     -9.871801
3     19.487880
4    373.948945
dtype: float64

In [20]:
net_profit = data["Attr1"] * total_assets
net_profit.head()

0     -2.357926
1      2.168923
2     -8.615348
3     27.919586
4    340.141480
dtype: float64

In [21]:
working_capital = data["Attr3"] * total_assets
working_capital.head()

0     10.305244
1      3.393290
2      3.764670
3    148.441934
4    350.800428
dtype: float64

In [22]:
profit_on_sales = data["Attr35"] * total_assets
profit_on_sales.head()

0      0.831448
1      2.580258
2     -8.625903
3     33.859973
4    545.569809
dtype: float64

새로 대입해보기

In [23]:
data["Attr12"].head()

0    -0.15646
1           ?
2     -1.0706
3     0.84137
4      1.8732
Name: Attr12, dtype: object

In [24]:
(gross_profit / short_term_liabilities).head()

0   -0.156456
1         inf
2   -1.070611
3    0.841394
4    1.873236
dtype: float64

In [25]:
data["class"][short_term_liabilities==0]

1       0
716     0
1365    0
1580    0
1640    1
1960    0
2008    0
2241    0
2272    0
2430    0
2555    0
2586    0
2823    0
2938    0
3228    0
3483    0
4445    0
4838    0
4849    0
5033    0
5381    0
5453    0
5538    0
5733    0
5842    0
6110    0
6377    0
6835    0
Name: class, dtype: int64

분모가 0인걸 방지하기 위해 제일 작은 값을 넣어주자

In [26]:
abs_stl = np.abs(short_term_liabilities).sort_values()
min_stl = abs_stl[abs_stl>0].iloc[0]
print(min_stl)

0.0005674784498752818

In [27]:
abs_sales = np.abs(sales).sort_values()
min_sales = abs_sales[abs_sales>0].iloc[0]
print(min_sales)

0.00080970110465384

In [28]:
abs_tl = np.abs(total_liabilities).sort_values()
min_tl = abs_tl[abs_tl>0].iloc[0]
print(min_tl)

0.0006162048482494242

In [29]:
abs_equity = np.abs(total_equity).sort_values()
min_equity = abs_equity[abs_equity>0].iloc[0]
print(min_equity)

0.037702938739959564

In [30]:
short_term_liabilities.replace(0, min_stl, inplace = True)
sales.replace(0, min_sales, inplace = True)
total_liabilities.replace(0, min_tl, inplace = True)
total_equity.replace(0, min_equity, inplace = True)

In [31]:
print(np.sum(short_term_liabilities == 0))
print(np.sum(sales == 0))
print(np.sum(total_liabilities == 0))
print(np.sum(total_equity == 0))

0
0
0
0

In [32]:
test = pd.DataFrame()

In [33]:
test["Attr12"] = gross_profit / short_term_liabilities
test["Attr23"] = net_profit / sales
test["Attr39"] = profit_on_sales / sales
test["Attr49"] = ebitda / sales
test["Attr59"] = long_term_liabilities / total_equity
test["Attr63"] = sales / short_term_liabilities

In [34]:
test["Attr23"].head()

0   -0.023022
1    0.571462
2   -0.290241
3    0.106117
4    0.286528
Name: Attr23, dtype: float64

In [35]:
data["Attr23"].head()

0     -0.0364
1     0.57146
2    -0.29024
3    0.074743
4     0.28652
Name: Attr23, dtype: object

In [36]:
calculated_colnames = ["Attr12", "Attr23", "Attr39", "Attr49", "Attr59", "Attr63"]
for col_name in calculated_colnames:
    data[col_name] = test[col_name]

In [37]:
np.sum(data.loc[:,calculated_colnames].astype("str")=="?")

Attr12    0
Attr23    0
Attr39    0
Attr49    0
Attr59    0
Attr63    0
dtype: int64

In [38]:
np.sum(np.sum(data.astype("str")=="?")>0)

38

처음보다 6개가 줄었다! 이제 corr 높은 변수 두 집합에서 각각 하나씩만 선택
- 7, 11, 14 -> 7
- 16, 26 -> 26

In [39]:
data.drop(["Attr11", "Attr14", "Attr16"], axis = 1, inplace = True)

In [40]:
data.shape

(6855, 61)

In [41]:
np.sum(np.sum(data.astype("str")=="?")>0)

37

In [44]:
data.to_csv("calculated_data.csv")