In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
datamice= pd.read_csv("C:/Users/seung/Desktop/finalproject/ESC20SPRING_team4/finalEDA/data/mice_without_outliers_removed.csv")
dataknn= pd.read_csv("C:/Users/seung/Desktop/finalproject/ESC20SPRING_team4/finalEDA/data/knn_without_outliers_removed.csv")
datamean= pd.read_csv("C:/Users/seung/Desktop/finalproject/ESC20SPRING_team4/finalEDA/data/mean_without_outliers.csv")
datamedian= pd.read_csv("C:/Users/seung/Desktop/finalproject/ESC20SPRING_team4/finalEDA/data/median_without_outliers.csv")

In [50]:
from sklearn.preprocessing import StandardScaler

### Mice

In [51]:
datamice.columns

Index(['Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr9', 'Attr10',
       'Attr13', 'Attr18', 'Attr19', 'Attr21', 'Attr22', 'Attr24', 'Attr29',
       'Attr30', 'Attr31', 'Attr33', 'Attr39', 'Attr41', 'Attr43', 'Attr47',
       'Attr52', 'Attr53', 'Attr55', 'Attr59', 'Attr61', 'Attr64', 'Attr65',
       'Attr66', 'Attr67', 'Attr68', 'Attr69', 'Attr70', 'class'],
      dtype='object')

In [52]:
datamice.shape

(6822, 34)

In [53]:
micescale = datamice.drop(["Attr70","class"], axis =1)
micescale = StandardScaler().fit_transform(micescale)
micescale =pd.DataFrame(micescale)
micescale.columns =datamice.columns[:32]
datamice = pd.DataFrame(pd.concat([micescale,datamice[['Attr70','class']]], axis =1))
datamice = datamice.reset_index()

In [54]:
datamice.shape

(6822, 35)

In [55]:
datamice.head()

,index,Attr2,Attr3,Attr4,Attr5,Attr6,Attr9,Attr10,Attr13,Attr18,...,Attr59,Attr61,Attr64,Attr65,Attr66,Attr67,Attr68,Attr69,Attr70,class
0,0,-0.564475,-0.173956,-0.124649,0.012790,-0.014341,-0.451866,0.321246,-0.004382,-0.323323,...,-0.018746,-0.711244,-1.053473,-0.126576,0.402104,-0.058312,0.017091,-0.205098,0,0
1,1,-1.698654,1.841882,1.129210,0.011900,-0.221494,-0.386067,0.779132,0.060436,2.835706,...,-0.047671,2.085748,2.083580,-1.260417,0.206697,0.197628,-0.035273,16.246606,1,0
2,2,-0.014504,0.018601,-0.329322,0.012822,-0.009368,0.074404,0.103175,-0.030770,-2.025864,...,-0.035084,-1.074730,-0.268523,-0.367238,0.838218,-0.364028,0.004898,-0.035524,0,0
3,3,-0.995975,1.018673,0.878251,0.028528,0.037467,-0.376297,0.510253,0.006106,0.359878,...,-0.046055,0.449361,0.294264,0.090047,-1.226899,0.011336,-0.031391,-0.170398,0,0
4,4,-0.035359,-0.373743,-0.607667,-0.001269,-0.009368,0.464720,0.113260,0.002117,0.375257,...,-0.046561,-0.076763,-0.291498,-0.010448,-0.354641,0.064521,0.561108,-0.125715,0,0

In [61]:
datamice.drop("index", axis = 1, inplace = True)

### Knn

In [56]:
dataknn.shape

(6805, 44)

In [58]:
knnscale = dataknn.drop(["Attr70","class"], axis =1)
knnscale = StandardScaler().fit_transform(knnscale)
knnscale =pd.DataFrame(knnscale)
knnscale.columns =dataknn.columns[:(dataknn.shape[1]-2)]
dataknn = pd.DataFrame(pd.concat([knnscale,dataknn[['Attr70','class']]], axis =1))
dataknn = dataknn.reset_index()

In [59]:
dataknn.shape

(6805, 45)

In [62]:
dataknn.drop("index", axis = 1, inplace = True)

In [63]:
dataknn.head()

,Attr1,Attr3,Attr4,Attr5,Attr6,Attr9,Attr10,Attr12,Attr13,Attr15,...,Attr57,Attr58,Attr59,Attr61,Attr63,Attr64,Attr68,Attr69,Attr70,class
0,-0.352842,-0.177767,-0.123483,0.009524,0.009448,-0.456467,0.301698,-0.031183,-0.001930,0.056725,...,-0.056065,-0.030072,-0.018519,-0.714359,-0.045731,-1.073841,0.017298,-0.286284,0,0
1,2.918455,1.861965,1.097655,0.008598,-0.411517,-0.390186,0.725650,19.373965,0.416410,-0.041950,...,0.214041,-0.447314,-0.047413,2.069638,5.610952,-0.137180,-0.034991,0.485499,1,0
2,-2.404133,0.017073,-0.330491,0.009558,0.019555,0.073659,0.099788,-0.035084,-0.172241,-0.049363,...,-0.378704,0.206205,-0.034839,-1.076156,-0.051393,-0.271095,0.005122,-0.138982,0,0
3,0.357261,1.028999,0.890857,0.025911,0.114729,-0.380344,0.476698,-0.026925,0.065757,-0.037176,...,0.017436,-0.063601,-0.045798,0.440854,-0.048111,0.304451,-0.031114,-0.229793,0,0
4,0.520052,-0.379922,-0.612011,-0.005114,0.019555,0.466834,0.109125,-0.029113,0.040011,-0.026674,...,0.073563,-0.109727,-0.046303,-0.082826,-0.050858,-0.294590,0.560525,-0.157048,0,0

### Median

In [67]:
datamedian.shape

(6818, 46)

In [70]:
medianscale = datamedian.drop(["Attr70","class"], axis =1)
medianscale = StandardScaler().fit_transform(medianscale)
medianscale =pd.DataFrame(medianscale)
medianscale.columns =datamedian.columns[:(datamedian.shape[1]-2)]
datamedian = pd.DataFrame(pd.concat([medianscale,datamedian[['Attr70','class']]], axis =1))
datamedian = datamedian.reset_index()

In [71]:
datamedian.shape

(6818, 47)

In [74]:
datamedian.drop("index", axis = 1, inplace = True)

In [75]:
datamedian.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr9,Attr10,Attr12,...,Attr59,Attr61,Attr64,Attr65,Attr66,Attr67,Attr68,Attr69,Attr70,class
0,-0.305882,-0.567830,-0.191750,-0.118907,0.009449,-0.004600,-0.324754,-0.452027,0.328989,-0.022936,...,-0.018722,-0.708407,-1.073419,-0.125311,0.413225,-0.048981,0.005588,-0.294502,0,0
1,2.511211,-1.708722,1.979607,-0.257969,0.008522,-0.287835,2.873109,-0.386111,0.799984,14.966639,...,-0.047639,2.069378,-0.216780,-0.075797,0.209906,0.128412,-0.034505,-0.144385,1,0
2,-2.072361,-0.014605,0.015663,-0.327737,0.009483,0.002200,-2.048225,0.075177,0.104675,-0.025949,...,-0.035054,-1.069397,-0.247814,-0.368230,0.866998,-0.260872,-0.003748,-0.144385,0,0
3,0.305626,-1.001884,1.092889,0.904366,0.025844,0.066235,0.366845,-0.376323,0.523407,-0.019647,...,-0.046023,0.444228,0.344121,0.093344,-1.281735,-0.000707,-0.031532,-0.229892,0,0
4,0.445815,-0.035583,-0.406950,-0.611737,-0.005197,0.002200,0.382413,0.466185,0.115048,-0.021337,...,-0.046528,-0.078284,-0.271979,-0.008094,-0.374159,0.036156,0.422113,-0.146693,0,0

### Mean

In [77]:
datamean.shape

(6816, 47)

In [76]:
meanscale = datamean.drop(["Attr70","class"], axis =1)
meanscale = StandardScaler().fit_transform(meanscale)
meanscale =pd.DataFrame(meanscale)
meanscale.columns =datamean.columns[:(datamean.shape[1]-2)]
datamean = pd.DataFrame(pd.concat([meanscale,datamean[['Attr70','class']]], axis =1))
datamean = datamean.reset_index()

In [78]:
datamean.shape

(6816, 47)

In [79]:
datamean.drop("index", axis = 1, inplace = True)

In [80]:
datamean.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr9,Attr10,Attr12,...,Attr59,Attr61,Attr64,Attr65,Attr66,Attr67,Attr68,Attr69,Attr70,class
0,-0.306185,-0.568381,-0.191494,-0.123968,0.009646,-0.004692,-0.325063,-0.453030,0.328889,-0.024814,...,-0.018752,-0.712085,-1.086076,-0.137232,0.413408,-0.048989,0.005576,-0.306268,0,0
1,2.510938,-1.711301,1.980169,1.718750,0.008719,-0.287897,2.872847,-0.387069,0.800477,15.097217,...,-0.047665,2.055589,1.461118,0.156133,0.210114,0.128378,-0.034511,0.000189,1,0
2,-2.072684,-0.014172,0.015948,-0.332269,0.009680,0.002108,-2.048559,0.074532,0.104292,-0.027854,...,-0.035083,-1.071762,-0.280485,-0.394375,0.867124,-0.260849,-0.003759,0.000189,0,0
3,0.305329,-1.003206,1.093326,0.896709,0.026042,0.066136,0.366547,-0.377275,0.523552,-0.021496,...,-0.046049,0.436354,0.297101,0.094226,-1.281342,-0.000722,-0.031539,-0.241600,0,0
4,0.445520,-0.035188,-0.406724,-0.615548,-0.005001,0.002108,0.382115,0.465805,0.114678,-0.023201,...,-0.046555,-0.084255,-0.304064,-0.013151,-0.373879,0.036135,0.422039,-0.158325,0,0

## outlier 제거 & scaling 후에도 corr높은게 여전히 남아있다....

### mice

In [87]:
corrMat= datamice.corr()
for i in range(corrMat.shape[0]):
    for j in range(corrMat.shape[1]):
        if (corrMat.iloc[i,j]>= 0.8) & (corrMat.iloc[i,j]<1):
            print(corrMat.columns[i], corrMat.columns[j], corrMat.iloc[i,j])

Attr6 Attr24 0.8730419323461106
Attr18 Attr22 0.9485620190509274
Attr22 Attr18 0.9485620190509274
Attr24 Attr6 0.8730419323461106

6,24 -> 6 <br>
18,22 -> 18

In [89]:
datamice.drop(["Attr24","Attr18"], inplace= True, axis = 1)

In [90]:
corrMat= datamice.corr()
for i in range(corrMat.shape[0]):
    for j in range(corrMat.shape[1]):
        if (corrMat.iloc[i,j]>= 0.8) & (corrMat.iloc[i,j]<1):
            print(corrMat.columns[i], corrMat.columns[j], corrMat.iloc[i,j])

### knn

In [86]:
corrMat= dataknn.corr()
for i in range(corrMat.shape[0]):
    for j in range(corrMat.shape[1]):
        if (corrMat.iloc[i,j]>= 0.8) & (corrMat.iloc[i,j]<1):
            print(corrMat.columns[i], corrMat.columns[j], corrMat.iloc[i,j])

Attr1 Attr18 0.986388341737525
Attr1 Attr22 0.9022468942133786
Attr13 Attr31 0.97546156450825
Attr13 Attr42 0.9057584144568944
Attr13 Attr56 0.8758318008389234
Attr18 Attr1 0.986388341737525
Attr18 Attr22 0.9233427069224694
Attr22 Attr1 0.9022468942133786
Attr22 Attr18 0.9233427069224694
Attr31 Attr13 0.97546156450825
Attr31 Attr42 0.9206498274302848
Attr31 Attr56 0.892811740951012
Attr42 Attr13 0.9057584144568944
Attr42 Attr31 0.9206498274302848
Attr42 Attr56 0.953001138879362
Attr56 Attr13 0.8758318008389234
Attr56 Attr31 0.892811740951012
Attr56 Attr42 0.953001138879362

1, 18, 22 -> 18 <br>
13,31,42,56 -> 42

In [91]:
dataknn.drop(["Attr1","Attr22","Attr13","Attr31","Attr56"], inplace= True, axis = 1)

In [94]:
corrMat= dataknn.corr()
for i in range(corrMat.shape[0]):
    for j in range(corrMat.shape[1]):
        if (corrMat.iloc[i,j]>= 0.8) & (corrMat.iloc[i,j]<1):
            print(corrMat.columns[i], corrMat.columns[j], corrMat.iloc[i,j])

### median

In [88]:
corrMat= datamedian.corr()
for i in range(corrMat.shape[0]):
    for j in range(corrMat.shape[1]):
        if (corrMat.iloc[i,j]>= 0.8) & (corrMat.iloc[i,j]<1):
            print(corrMat.columns[i], corrMat.columns[j], corrMat.iloc[i,j])

Attr1 Attr7 0.9895999225568477
Attr1 Attr18 0.9895999225568477
Attr7 Attr1 0.9895999225568477
Attr18 Attr1 0.9895999225568477
Attr28 Attr53 0.9412593846253589
Attr39 Attr56 0.8896003617850045
Attr40 Attr46 0.8923146533058994
Attr46 Attr40 0.8923146533058994
Attr53 Attr28 0.9412593846253589
Attr56 Attr39 0.8896003617850045

1,7,18 -> 1 <br>
28, 53 -> 53<br>
39, 56 -> 39 <br>
40, 46 -> 46

In [93]:
datamedian.drop(["Attr7","Attr18","Attr28","Attr56","Attr40"], inplace= True, axis = 1)

In [95]:
corrMat= datamedian.corr()
for i in range(corrMat.shape[0]):
    for j in range(corrMat.shape[1]):
        if (corrMat.iloc[i,j]>= 0.8) & (corrMat.iloc[i,j]<1):
            print(corrMat.columns[i], corrMat.columns[j], corrMat.iloc[i,j])

### mean

In [96]:
datamice.to_csv("C:/Users/seung/Desktop/finalproject/ESC20SPRING_team4/finalEDA/data/mice_scaled.csv",index = False)
dataknn.to_csv("C:/Users/seung/Desktop/finalproject/ESC20SPRING_team4/finalEDA/data/knn_scaled.csv",index = False)
datamedian.to_csv("C:/Users/seung/Desktop/finalproject/ESC20SPRING_team4/finalEDA/data/median_scaled.csv",index = False)